*{
  margin: 0;
  font-family: 'Open Sans';
}

.header{
  width: 100%;
  height: 100px;
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  z-index: 1000;
  border-bottom:  1px solid black;
	background: white;
    transition: all 0.2s ease-in-out;
}

.active{
    background-color: grey;
}



.header .logo{
  margin: auto 190px;
}

.nav{
  height: auto;
  width: 700px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;



}

.nav-list{
    height: auto;
    width: auto;
    display: inline-flex;
    flex-direction: row;
}

.nav-list a{
  width: 100px;
  display: block;
  list-style: none;
  text-align: center;
  margin: auto 5px;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: font-size .2s;

}

.nav-list a:hover{
    font-size: 20px;
    margin: auto 5px;
    padding: 5px;
}


.main{

  background-image: url(images/main.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 1000px;
  display: inline-flex;
  flex-direction: row;
  
  
  

}

.pic-back {
    height: 100%;
    width: 7%;
    margin-right: auto;
    transition: all .3s ease-in;
    display: flex;
}

.pic-back img {
    max-width: 37px;
    margin: auto;

}
.pic-back:hover {
    background-color: rgb(20,20,20,0.3);
    cursor: pointer;
}

.pic-forward {
    height: 100%;
    width: 7%;
    margin-left: auto;
    transition: all .3s ease-in;
    display: flex;
}

.pic-forward img{
    max-width:37px;
    margin:auto;

}

.pic-forward:hover {
    background-color: rgb(20,20,20,0.3);
    cursor: pointer;
}

.main-title{
    height: 100%;
    width: 86%;

}


.landing{
  width: 100%;
  height: 2000px;
}

#welcome{
 
  margin: 100px 9%;
  color: white;
  font-size: 60px;
}

#falls{
 
  margin: 10px 10%;
  color: white;
  font-size: 130px;
}
